:root {
  --color-black: #272a31;
  --color-orange: #ec5242;
  --color-gray: #d3d3d3;
  --color-62: rgb(62, 62, 62);
}

body {
  background-color: rgb(248, 248, 248);
  color: var(--color-black);
}

ul {
  margin: 0px;
  list-style: none;
}

/* start header styles */
.top-header {
  background-color: var(--color-62);

  padding: 6px 0;
}

.top-header a {
  color: white;
}

.top-header .list-links .nav-ul {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
}
.top-header .list-links .nav-ul li {
  margin-left: 10px;
}

.bottom-header {
  padding: 20px 0;
  background-color: rgb(255, 255, 255);
}
.bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bottom-header .nav-ul {
  display: flex;
}

.bottom-header .nav-ul li a {
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 50px;
  color: var(--color-black);
}

.logo-top {
  min-width: 150px;
  width: 150px;
}

.bottom-header .nav-ul li a.my-active-page {
  color: var(--color-orange);
}

/* partners */
.partners {
  padding: 20px 0;
  text-align: center;
  background-color: var(--color-62);
}

.partner-logos a {
  display: inline-block;
  margin: 20px;
}

.underline::after {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  content: "";
  display: inline-block;
  border-bottom: 2px solid var(--color-orange);
  width: 30px;
}

/* footer styles */
footer {
  padding: 60px 0;
}

footer .container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}

footer .logo-top {
  margin-right: 30px;
  width: 150px;
}

footer .other-stuff p {
  margin: 0px;
  padding: 0px;
}
